<h1>Word Game</h1>
<p>Is "{{word}}" a cognate?</p>
<form action="/check" method="POST">
    <input type="hidden" name="word" value="{{word}}">
    <input type="hidden" name="correct" value="{{isCognate}}">
    
    {{!-- <input type="text" name="player" value="{{player}}" style="text-align: center; outline: none;" readonly> --}}
    <button type="submit" name="answer" value="true">Cognate</button>
    <button type="submit" name="answer" value="false">Not Cognate</button>
</form>

<div class="container">
  <h3>
    Regras do Jogo
  </h3>

  <ol style="text-align: start;">
    <li>
      O jogo apresenta uma palavra aleatória em inglês.
    </li>
    <li>
      O jogador deve decidir se a palavra é <b>cognata</b> (parecida com sua versão em português) ou <b>não cognata</b>.
    </li>
    <li>
      Para responder, o jogador clica no botão correspondente à sua escolha.
    </li>
    <li>
      Se a resposta estiver correta, o jogador ganha <b>10 pontos</b>.
    </li>
    <li>
      Se errar, não recebe pontos.
    </li>
    <li>
      O placar é atualizado automaticamente e os jogadores podem visualizar o ranking com as maiores pontuações.
    </li>
    <li>
      O jogo pode ser jogado quantas vezes o jogador quiser para melhorar sua pontuação.
    </li>
  </ol>
</div>
<div class="container">
  <h3>
    Fundadores
  </h3>
  <ul style="text-align: start;">
    <li>
      <h4>
        Programadores
      </h4>
      <ul>
        <li>José Cipriano</li>
        <li>Douglas</li>
      </ul>
    </li>
    <li>
      <h4>
        Designers
      </h4>
      <ul>
        <li>Pedro Henrique</li>
      </ul>
    </li>
    <li>
      <h4>Testadores</h4>
      <ul>
        <li>
          Maria Eduarda
        </li>
        <li>
          Luis Gustavo
        </li>
        <li>
          Luis Fabiano
        </li>
      </ul>
    </li>
  </ul>
</div>