<h1>Word Game</h1>
<p>Is "{{word}}" a cognate?</p>
<form action="/check" method="POST">
    <input type="hidden" name="word" value="{{word}}">
    <input type="hidden" name="correct" value="{{isCognate}}">
    
    <input type="text" name="player" value="{{player}}" style="text-align: center; outline: none;" readonly>
    <button type="submit" name="answer" value="true">Cognate</button>
    <button type="submit" name="answer" value="false">Not Cognate</button>
</form>