<div class="container">
  <form action="/new/user" method="post">
    <h1>
      Informe quem você é
    </h1>
    <input type="text" name="name" id="name">
    <button type="submit">Registrar</button>
  </form>
</div>